<h1>Books</h1>
<% @books.each do |book| %>
  <p>Title</p>
  <span><%= book.title %></span>
  <p>Body</p>
  <span><%= book.body %></span>
  <%= link_to "show",'/books/:id' %>
  <%= link_to "Edit",'/books/:id/edit' %>
  <%= link_to "Destroy",'/books/:id/destroy',method: :delete, "data-confirm" => "本当に削除しますか？" %>

<% end %>


<h2>New Book</h2>

<%= form_with model: @book do |f| %>
  <p>Title</p>
  <%= f.text_field :title %>

  <p>Body</p>
  <%= f.text_area :body %>

  <%= f.submit 'Create Book' %>
<% end %>
